@import url('https://fonts.googleapis.com/css?family=Quicksand');

div {
    font-family: 'Quicksand';
}

button:focus {
    outline: none;
}

@import "./landing.css";
@import "./login.css";
@import "./register.css";
@import "./dashboard.css";
@import "./addGoal.css";
@import "./editGoal.css";
@import "./social.css";
@import "./addPost.css";