@import url('https://fonts.googleapis.com/css?family=Quicksand');

div {
    font-family: 'Quicksand';
}

button:focus {
    outline: none;
}

@import "./dashboard.css";
@import "./addGoal.css";
@import "./social.css";
@import "./addPost.css";