.allBackground {
    background-image: linear-gradient(#E29587, #D66D75);
    max-width: 100% !important;
    height: 100%;
    margin: 0;
}

.container {
    font-family: "Quicksand";
}

#welcomeUser {
    color: white;
    margin: 5% auto 3% auto;
    font-size: 500%;
}

#profilePic {
    text-align: center;
}

#profileIcon{
    font-size: 1000%;
}

#ticker {
    text-align: center;
    width: 75%;
    height: 100%;
    padding: 5% 3% 0% 3%;
    margin: 0 auto 0 auto;
    border-radius: 20px;
    border: none;
    opacity: .75;
    box-shadow: 0 5px 20px #8C4E52; 
}

#text {
    font-size: 20px;
}

#goalHeader {
    padding: 5%;
    font-size: 300%;
    color: white;
}

#addGoal {
    background-color: #FD9800;
    width: 90%;
    opacity: .70;
    border: none;
    border-radius: 30px;
    box-shadow: 0 8px 20px #8C4E52; 
    transition: box-shadow 0.25s cubic-bezier(0.4, 0, 1, 1);
}

#addGoal:hover {
    box-shadow: 0 8px 40px #8C4E52; 
}

#goalItem {
    width: 90%;
    margin: auto;
    opacity: .75;
    box-shadow: 0 5px 20px #8C4E52; 
    margin-bottom: 5%;
    border-radius: 10px;
    transition: box-shadow 0.25s cubic-bezier(0.4, 0, 1, 1);
}

#goalIcon {
    color: #FD9800;
    font-size: 100%;
    background: transparent;
    border: none;
}

.progress-bar {
    background-color: #D66D75 !important;
}

#finishGoal {
    float: right;
    background-color: #FD9800;
    border: none;
    box-shadow: 0 5px 20px #bdbdbdf6; 
}

@media screen and (max-width: 992px) {
    #welcomeUser {
        font-size: 400%;
    }
    #profileIcon{
        font-size: 900%;
    }
}

@media screen and (max-width: 760px) {
    #ticker {
        width: 100%;
        margin: 5% auto 5% auto;
    }
    #goalHeader {
        padding: 10%;
    }
}

@media screen and (max-width: 456px) {
    #welcomeUser {
        font-size: 300%;
        margin: 10% auto 10% auto;
    }
    #ticker {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    #ticker {
        width: 90%;
    }
}
